In [3]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("MITHUN.db")

df = pd.read_sql_query("SELECT * FROM traffic", conn)
print(df)

        stop_date stop_time country_name driver_gender  driver_age_raw  \
0      2020-01-01   0:00:00       Canada             M              59
1      2020-01-01   0:01:00        India             M              35
2      2020-01-01   0:02:00          USA             M              26
3      2020-01-01   0:03:00       Canada             M              26
4      2020-01-01   0:04:00       Canada             M              62
...           ...       ...          ...           ...             ...
65533  2020-02-15  12:13:00        India             F              54
65534  2020-02-15  12:14:00       Canada             F              18
65535  2020-02-15  12:15:00          USA             M              27
65536  2020-02-15  12:16:00       Canada             F              49
65537  2020-02-15  12:17:00          USA             F              72

       driver_age driver_race     violation_raw violation  search_conducted  \
0              19       Asian     Drunk Driving  Speeding                 1
1              58       Other             Other     Other                 0
2              76       Black  Signal Violation  Speeding                 0
3              76       Black          Speeding       DUI                 1
4              75       Other          Speeding     Other                 0
...           ...         ...               ...       ...               ...
65533          48       Black             Other     Other                 0
65534          35    Hispanic          Seatbelt     Other                 1
65535          41       Asian          Seatbelt       DUI                 1
65536          63       Black          Seatbelt     Other                 0
65537          32       Other          Seatbelt  Speeding                 1

          search_type stop_outcome  is_arrested stop_duration  \
0      Vehicle Search       Ticket            1     16-30 Min
1      Vehicle Search       Arrest            1     16-30 Min
2               Frisk       Ticket            1     16-30 Min
3               Frisk      Warning            0      0-15 Min
4      Vehicle Search       Arrest            1     16-30 Min
...               ...          ...          ...           ...
65533  Vehicle Search       Arrest            1     16-30 Min
65534  Vehicle Search       Ticket            0     16-30 Min
65535           Frisk       Ticket            1       30+ Min
65536            None      Warning            1      0-15 Min
65537            None       Ticket            1     16-30 Min

       drugs_related_stop vehicle_number
0                       1     UP76DY3473
1                       1     RJ83PZ4441
2                       1     RJ32OM7264
3                       1     RJ76TI3807
4                       0     WB63BB8305
...                   ...            ...
65533                   0     DL56GW6568
65534                   1     TN73EO7098
65535                   1     GJ33MX8328
65536                   1     KA24UZ8488
65537                   0     UP89PT2924

[65538 rows x 16 columns]

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the CSV : check the file name
merged_df = pd.read_csv("traffic.csv")

# Step 2: Create engine
engine = create_engine("sqlite:///MITHUN.db")

# Step 3: Store the DataFrame in SQLite
merged_df.to_sql("traffic", engine, if_exists="replace", index=False)

print("Data saved to database successfully!")

C:\Users\Dell\AppData\Local\Temp\ipykernel_9340\1309303625.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv("traffic.csv")

Data saved to database successfully!

In [6]:
df = pd.read_sql_query("SELECT driver_race,stop_date FROM traffic", conn)
df.head()
print(df)

      driver_race   stop_date
0           Asian  2020-01-01
1           Other  2020-01-01
2           Black  2020-01-01
3           Black  2020-01-01
4           Other  2020-01-01
...           ...         ...
65533       Black  2020-02-15
65534    Hispanic  2020-02-15
65535       Asian  2020-02-15
65536       Black  2020-02-15
65537       Other  2020-02-15

[65538 rows x 2 columns]

In [9]:
!pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (0.9.0)

In [10]:
from tabulate import tabulate

In [13]:
headers=True

In [15]:
!pip install mysql-connector-python
import mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\roaming\python\python312\site-packages (9.2.0)

In [16]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password=""
)

InterfaceError: 2002: Can't connect to local MySQL server through socket '%-.100s' (%s) (Warning: not all arguments converted during string formatting)

In [41]:
mycursor = mydb.cursor(buffered=True)

In [47]:
mycursor.execute("use mdte19m")

In [49]:
mycursor.execute("SHOW DATABASES")

In [19]:
df = pd.read_sql_query("SELECT driver_race,stop_date FROM traffic", conn)
df.head()
print(df)

      driver_race   stop_date
0           Asian  2020-01-01
1           Other  2020-01-01
2           Black  2020-01-01
3           Black  2020-01-01
4           Other  2020-01-01
...           ...         ...
65533       Black  2020-02-15
65534    Hispanic  2020-02-15
65535       Asian  2020-02-15
65536       Black  2020-02-15
65537       Other  2020-02-15

[65538 rows x 2 columns]

In [21]:
df = pd.read_sql_query("SELECT driver_race,stop_date FROM traffic", conn)
df.head()
print(df)

      driver_race   stop_date
0           Asian  2020-01-01
1           Other  2020-01-01
2           Black  2020-01-01
3           Black  2020-01-01
4           Other  2020-01-01
...           ...         ...
65533       Black  2020-02-15
65534    Hispanic  2020-02-15
65535       Asian  2020-02-15
65536       Black  2020-02-15
65537       Other  2020-02-15

[65538 rows x 2 columns]

In [23]:
#query1
df = pd.read_sql_query("SELECT COUNT(*) AS total_stops FROM traffic",conn)
df.head()
print(df)

   total_stops
0        65538

In [25]:
#query2
df = pd.read_sql_query("SELECT violation, COUNT(*) AS stop_count FROM traffic GROUP BY violation ORDER BY stop_count DESC",conn)
df.head()
print(df)

  violation  stop_count
0     Other       13194
1  Speeding       13150
2    Signal       13112
3       DUI       13075
4  Seatbelt       13007

In [63]:
#query3
df = pd.read_sql_query("SELECT stop_outcome, COUNT(*) AS count FROM traffic WHERE stop_outcome IN ('Arrest', 'Warning') GROUP BY stop_outcome",conn)
df.head()
print(df)

  stop_outcome  count
0       Arrest  21734
1      Warning  21966

In [67]:
#query4
df = pd.read_sql_query("SELECT AVG(driver_age) AS average_age FROM traffic",conn)
df.head()
print(df)

   average_age
0     49.11221

In [69]:
#query5
df = pd.read_sql_query("SELECT search_type, COUNT(*) AS count FROM traffic WHERE search_type IS NOT NULL GROUP BY search_type ORDER BY count DESC LIMIT 5",conn)
df.head()
print(df)

      search_type  count
0           Frisk  21971
1  Vehicle Search  21847

In [71]:
#query6
df = pd.read_sql_query("SELECT driver_gender, COUNT(*) AS count FROM traffic GROUP BY driver_gender",conn)
df.head()
print(df)

  driver_gender  count
0             F  32881
1             M  32657

In [73]:
#query7
df = pd.read_sql_query("SELECT violation, COUNT(*) AS arrest_count FROM traffic WHERE stop_outcome = 'Arrest' GROUP BY violation ORDER BY arrest_count DESC LIMIT 1",conn)
df.head()
print(df)

  violation  arrest_count
0  Speeding          4393

In [75]:
#query8
df = pd.read_sql_query("SELECT violation, AVG(stop_duration) AS avg_duration FROM traffic GROUP BY violation",conn)
df.head()
print(df)

  violation  avg_duration
0       DUI     15.234876
1     Other     15.743975
2  Seatbelt     15.334358
3    Signal     15.201952
4  Speeding     15.286692

In [58]:
#query9
df = pd.read_sql_query("SELECT strftime('%Y', stop_date) AS year,COUNT(*) AS drug_related_stops FROM traffic WHERE drug_related = 1 GROUP BY strftime('%Y', stop_date)ORDER BY year",conn)
df.head()
print(df)

DatabaseError: Execution failed on sql 'SELECT strftime('%Y', stop_date) AS year,COUNT(*) AS drug_related_stops FROM traffic WHERE drug_related = 1 GROUP BY strftime('%Y', stop_date)ORDER BY year': no such column: drug_related

In [89]:
#query10
df = pd.read_sql_query("SELECT driver_race, COUNT(*) AS stop_count FROM traffic GROUP BY driver_race ORDER BY stop_count DESC LIMIT 5",conn)
df.head()
print(df)

  driver_race  stop_count
0       White       13168
1       Black       13131
2       Other       13122
3       Asian       13111
4    Hispanic       13006

In [32]:
#query11
df = pd.read_sql_query("SELECT COUNT(*) AS night_stops FROM traffic WHERE (CAST(strftime('%H', stop_time) AS INTEGER) >= 22 OR CAST(strftime('%H', stop_time) AS INTEGER) < 5)",conn)
df.head()
print(df)

   night_stops
0         5400

In [93]:
#query12
df = pd.read_sql_query("SELECT violation, COUNT(*) AS search_count FROM traffic WHERE search_type IS NOT NULL GROUP BY violation",conn)
df.head()
print(df)

  violation  search_count
0       DUI          8683
1     Other          8769
2  Seatbelt          8820
3    Signal          8712
4  Speeding          8834

In [27]:
#query13
df = pd.read_sql_query("SELECT driver_gender, AVG(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_rate FROM traffic GROUP BY driver_gender",conn)
df.head()
print(df)

  driver_gender  arrest_rate
0             F     0.330556
1             M     0.332700

In [36]:
#query14
df = pd.read_sql_query("SELECT strftime('%Y-%m', stop_date) AS year_month, COUNT(*) AS violation_count FROM traffic WHERE violation IS NOT NULL GROUP BY year_month ORDER BY year_month",conn)
df.head()
print(df)

  year_month  violation_count
0    2020-01            44640
1    2020-02            20898

In [35]:
#query15
df = pd.read_sql_query("SELECT stop_outcome, COUNT(*) AS count FROM traffic WHERE drugs_related_stop = 'Yes' GROUP BY stop_outcome ORDER BY count DESC",conn)
df.head()
print(df)

Empty DataFrame
Columns: [stop_outcome, count]
Index: []

In [44]:
#query1.1
df = pd.read_sql_query("WITH yearly_data AS (SELECT country_name, strftime('%Y', stop_date) AS year, COUNT(*) AS total_stops, SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS total_arrests FROM traffic GROUP BY country_name, year), ranked_data AS (SELECT *, RANK() OVER (PARTITION BY year ORDER BY total_arrests DESC) AS arrest_rank FROM yearly_data)SELECT * FROM ranked_data ORDER BY year, arrest_rank",conn)
df.head()
print(df)

  country_name  year  total_stops  total_arrests  arrest_rank
0        India  2020        21998          11091            1
1       Canada  2020        21908          10999            2
2          USA  2020        21632          10756            3

In [47]:
#query1.2
df = pd.read_sql_query("SELECT driver_age, driver_race, violation, COUNT(*) AS count FROM ( SELECT *, CASE WHEN driver_age < 20 THEN '<20' WHEN driver_age BETWEEN 20 AND 29 THEN '20-29' WHEN driver_age BETWEEN 30 AND 39 THEN '30-39' WHEN driver_age BETWEEN 40 AND 49 THEN '40-49' ELSE '50+' END AS age_group FROM traffic) AS sub GROUP BY driver_age, driver_race, violation ORDER BY count DESC",conn)
df.head()
print(df)

      driver_age driver_race violation  count
0             56       White       DUI     63
1             61       White       DUI     59
2             71       Other  Speeding     59
3             78       Asian       DUI     59
4             33       Other  Speeding     58
...          ...         ...       ...    ...
1570          71       White  Seatbelt     26
1571          24    Hispanic       DUI     25
1572          79    Hispanic  Seatbelt     25
1573          46       White  Seatbelt     24
1574          57       Asian       DUI     24

[1575 rows x 4 columns]

In [51]:
#query1.3
df = pd.read_sql_query("SELECT CASE WHEN (stop_time) BETWEEN 5 AND 11 THEN 'Morning' WHEN (stop_time) BETWEEN 12 AND 16 THEN 'Afternoon' WHEN (stop_time) BETWEEN 17 AND 21 THEN 'Evening' ELSE 'Night' END AS time_period, COUNT(*) AS stop_count FROM traffic GROUP BY time_period",conn)
df.head()
print(df)

  time_period  stop_count
0   Afternoon       10818
1     Evening       13560
2       Night       41160

In [55]:
#query1.4
df = pd.read_sql_query("SELECT driver_age, violation, AVG(stop_duration) AS avg_duration FROM traffic GROUP BY driver_age, violation ORDER BY driver_age",conn)
df.head()
print(df)

     driver_age violation  avg_duration
0            18       DUI     15.866667
1            18     Other     15.448276
2            18  Seatbelt     16.070352
3            18    Signal     14.651584
4            18  Speeding     14.546341
..          ...       ...           ...
310          80       DUI     14.607930
311          80     Other     14.935484
312          80  Seatbelt     15.162791
313          80    Signal     14.081633
314          80  Speeding     16.174863

[315 rows x 3 columns]

In [57]:
#query1.5
df = pd.read_sql_query("SELECT violation, COUNT(*) AS total, AVG(CASE WHEN search_type IS NOT NULL THEN 1 ELSE 0 END) AS search_rate, AVG(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_rate FROM traffic GROUP BY violation HAVING total > 100 ORDER BY arrest_rate DESC",conn)
df.head()
print(df)

  violation  total  search_rate  arrest_rate
0  Speeding  13150     0.671787     0.334068
1       DUI  13075     0.664092     0.333996
2     Other  13194     0.664620     0.332348
3    Signal  13112     0.664430     0.331376
4  Seatbelt  13007     0.678096     0.326286

In [63]:
#query1.6
df = pd.read_sql_query("SELECT country_name, AVG(driver_age) AS avg_age, COUNT(DISTINCT driver_gender) AS gender_count, COUNT(DISTINCT driver_race) AS race_count FROM traffic GROUP BY country_name",conn)
df.head()
print(df)

  country_name    avg_age  gender_count  race_count
0       Canada  49.114661             2           5
1        India  49.105964             2           5
2          USA  49.116078             2           5

In [65]:
#query1.7
df = pd.read_sql_query("SELECT violation, AVG(CASE WHEN stop_outcome = 'Arrest' THEN 1 ELSE 0 END) AS arrest_rate FROM traffic GROUP BY violation HAVING COUNT(*) > 50 ORDER BY arrest_rate DESC LIMIT 5",conn)
df.head()
print(df)

  violation  arrest_rate
0  Speeding     0.334068
1       DUI     0.333996
2     Other     0.332348
3    Signal     0.331376
4  Seatbelt     0.326286